In [21]:
pip install kafka-python

Requirement already satisfied: kafka-python in /usr/local/lib/python3.10/dist-packages (2.0.2)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Note: you may need to restart the kernel to use updated packages.

In [22]:
import pandas as pd
from kafka import KafkaProducer
from time import sleep
from json import dumps
import json

In [23]:
producer = KafkaProducer(bootstrap_servers=['54.238.98.204:9092'], #change ip here
                         value_serializer=lambda x: 
                         dumps(x).encode('utf-8'))

In [24]:
producer.send('demo_testing2', value={'hellsssso':'hiep11'})

In [14]:
df = pd.read_csv("indexProcessed.csv")

In [15]:
df.head()

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013

In [25]:
while True:
    dict_stock = df.sample(1).to_dict()
    producer.send('demo_testing2', value=dict_stock)

KeyboardInterrupt:

In [26]:
producer.flush()

{'Index': 'N100',
 'Date': '2016-06-08',
 'Open': 881.080017,
 'High': 883.390015,
 'Low': 877.190002,
 'Close': 879.700012,
 'Adj Close': 879.700012,
 'Volume': 178158000.0,
 'CloseUSD': 1073.23401464}